<div *ngIf="bus">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="editCliente">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>
                        Modificar Bus:
                    </h3>
                    <form (ngSubmit)="Update()">
                        <div class="form-group">
                            <label for="Código">Código:</label>
                            <input class="form-control" type="number" id="Código" name="Código" required
                                [(ngModel)]="bus.codigo" />
                        </div>

                        <div class="form-group">
                            <label for="Placa">Placa:</label>
                            <input class="form-control" type="text" id="Placa" name="Placa" required
                                [(ngModel)]="bus.placa" />
                        </div>

                        <div class="form-group">
                            <label for="Tipo">Tipo:</label>
                            <input class="form-control" type="text" id="Tipo" name="Tipo" required
                                [(ngModel)]="bus.tipo" />
                        </div>

                        <div class="form-group">
                            <label for="Base">Base:</label>
                            <input class="form-control" type="text" id="Base" name="Base" required
                                [(ngModel)]="bus.base" />
                        </div>
                        <div class="form-group">
                            <label for="Sexo">Estado:</label>
                            <select class="form-control" type="text" id="Sexo" name="Sexo" required
                                [(ngModel)]="bus.estado">
                                <option>Libre</option>
                                <option>Ocupado</option>
                                <option>Mantenimiento</option>
                            </select>
                        </div>

                        <button data-dismiss="modal" class="btn btn-primary" type="submit">Insertar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Cerrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>